* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif ;
    line-height: 1.6;
    font-weight: 400;
    padding-top: 60px;
    font-size: 20px;
    margin: 0;
}

/*NAVIGATION ELEMENTS*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 10;
    background: white;

}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 5rem;
}
.nav-links a{
    position: relative;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    color: #1B8598;
    text-decoration-line: none;
    display: inline-block;

}
.nav-links a:hover{
    color:darkblue;
    transform: translateY(-2px);
    background:peachpuff ;
}
/*HOME SECTION*/
.section{
    height: 100vh;
    padding: 100px 20px 80px;
    scroll-margin-top: 80px;

}
.section#home{
    opacity: 0.9;

}
#home{
    display: flex;
    background: #0F4C57;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    

}
.hero-title{
    font-size: 4.6rem;
    margin-bottom: 1rem;
    font-family: "Brush script MT", "cursive";
}
.hero-subtitle{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

/*ABOUT SECTION*/
#about{ 
    background: #1B8598;
}
.about-title{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #0
    ;
}

/*SKILLS SECTION*/
#skills{
    height: 300vh;
    background: #26BED9;
}
.skills-title{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
}

/*HOBBIES SECTION*/
#hobbies{
    background: #67D1E4;
    height: 200vh;
}
.hobbies-title{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
}

/*CONTACT SECTION*/
#contact{
    background: #A1E3EA;
}
.contacts-title{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
}




